.option-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
}
.web {
  display: flex;
  flex: 1;
  align-items: center;
}
.web-option {
  font-size: 20px;
  margin-right: 20px;
  font-weight: 600;
}
.web-option:last-child {
  margin-right: 0;
}
.web-option a {
  color: #333;
  display: flex;
  align-items: center;
}
