.skills-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.icon-skill {
  font-size: 60px;
  margin-bottom: 4px;
}
.skills-desc {
  font-size: 24px;
}
