.body {
  padding: 12px;
  padding-bottom: 36px;
  section {
    margin-top: 80px;
  }
  section:first-child {
    margin: 0;
  }
}
@media screen and (max-width: 720px) {
  .body {
    section {
      margin-top: 40px;
    }
  }
}
