.about {
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 620px;
}
.about-info {
  font-size: 24px;
  span {
    color: blue;
    font-size: 32px;
  }
}
.about-bottom {
  text-align: center;
}
@media screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 20px;
    span {
      font-size: 26px;
    }
  }
}
